upcycle_connect-api/.env
upcycle_connect-api/tmp/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.DS_Store
Thumbs.db
frontend/upcycleconnect/.env
frontend/upcycleconnect/dist/
.fleet
.idea
.nova
.vscode
.zed
