upcycle_connect-api/.env
upcycle_connect-api/tmp/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/upcycleconnect/vendor/
frontend/upcycleconnect/.env
frontend/upcycleconnect/storage/*.key
frontend/upcycleconnect/public/hot
frontend/upcycleconnect/public/storage
.claude
