# template d'exemple pour upcycle_connect-api/.env en production

PORT=8084
UPLOADS_DIR=/app/uploads
BASE_URL=http://IP_OU_DOMAINE_SERVEUR
DB_HOST=IP_DU_NAS
DB_PORT=3306
DB_USER=UTILISATEUR_MYSQL_NAS
DB_PASSWORD=MOT_DE_PASSE_MYSQL_NAS
DB_NAME=NOM_DE_LA_BASE
JWT_SECRET=CHANGEZ_CETTE_CLE_AVEC_UNE_VALEUR_LONGUE_ET_ALEATOIRE
CORS_ORIGIN=http://IP_OU_DOMAINE_SERVEUR
ADMIN_EMAIL=admin@votre-domaine.com
ADMIN_PASSWORD=MotDePasseAdminFort!
STRIPE_SECRET_KEY=sk_live_VOTRE_CLE_STRIPE_PRODUCTION
STRIPE_WEBHOOK_SECRET=whsec_VOTRE_WEBHOOK_SECRET_PRODUCTION
